[build]
  publish = "."
  command = ""

# Exclude API calls from SPA redirect
[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

# Enable SPA routing to index.html for all other routes
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = true
